body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Full-width input fields */
input[type=email], input[type=password] {
    width: 100%;
    padding: 22px 22px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 6px;
}

/* Set a style for all buttons */
button {
    background-color: #0eaf8c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.loginbtn{
    width: auto;
    padding: 20px 20px;
    text-align: center;
    alignment: center;
}

.imagecontainer {
    height: 40%;
    text-align: center;
    margin: 16px 0 16px 0;
    position: relative;
}

.login_avatar {
    padding: 10px 0 10px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1140px;
    height: auto;
}

.login-container {
    padding: 16px;
    background-color: #99af0f;
}
span.password {
    float: right;
    padding-top: 16px;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #f6fed6;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 26%; /* Could be more or less, depending on screen size */
    border-radius: 12px;
    height: auto;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.password {
        display: block;
        float: none;
    }
}