/*STYLES*/
.internal{
    width: 100%;
    margin: 0 auto;
}

.login-container{
    width: 480px;
    background: #FFFFFF;
    overflow: hidden;
    border-radius: 5px;
}

.login-form{
    width: 100%;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    justify-content: space-between;
    flex-wrap: wrap;
}

.login-form-title{
    font-family: Rachana;
    font-size: 32px;
    color: #333333;
    line-height: 1.4;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: block;
}

.login-container-form-btn-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}